.header {
  width: 940px;
  height: 57px;
  padding: 53px 30px 19px;
  margin: 0 auto;
}
.header .top {
  width: 960px;
  height: 50px;
  position: relative;
}
.header .top img {
  position: absolute;
  left: 0;
  top: 0;
}
.header .top a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #007bc7;
  text-decoration: none;
  font-size: 12px;
}
.register_main {
  width: 1000px;
  height: 485px;
  padding: 50px 0;
  margin: 0 auto;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
.register_main .rm_left {
  float: left;
  width: 413px;
  height: 251px;
  padding: 35px 15px 80px 35px;
  border: 1px #ccc solid;
  margin: 89px 0 0 57px;
}
.register_main .rm_left h1 {
  width: 413px;
  height: 50px;
  padding-bottom: 40px;
  font-size: 30px;
  color: #7c7c7c;
  font-family: "microsoft yahei";
  line-height: 50px;
  text-align: center;
  font-weight: normal;
}
.register_main .rm_left p {
  font-family: "arial, helvetica, sans-serif";
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
.register_main .rm_left p .blue {
  font-size: 14px;
  margin-bottom: 20px;
  color: #007bc7;
}
.register_main .rm_right {
  float: left;
  width: 381px;
  height: 468px;
  margin: 17px 0 0 30px;
}
.register_main .rm_right .rm_right_top {
  text-align: center;
  height: 27px;
  line-height: 27px;
  font-family: "arial, helvetica, sans-serif";
  font-size: 12px;
  color: #666;
  margin: 20px 0;
}
.register_main .rm_right .rm_right_top a {
  color: #007bc7;
}
.register_main .rm_right .alert_box {
  width: 355px;
  height: 63px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0 0 26px;
  font-size: 12px;
  color: #666;
}
.register_main .rm_right .alert_box div {
  float: left;
  width: 84px;
  height: 36px;
  line-height: 38px;
  background: #f1f1f1;
  text-align: center;
  border: 1px #ccc solid;
  border-right: none;
}
.register_main .rm_right .alert_box input {
  width: 190px;
  height: 26px;
  padding: 5px 10px;
  border: 1px #ccc solid;
  border-left: none;
}
.register_main .rm_right .email {
  position: relative;
  z-index: 998;
}
.register_main .rm_right .email .reg_box1 {
  position: absolute;
  width: 296px;
  height: 20px;
  line-height: 20px;
  background: #ffebec;
  color: #e6393d;
  border: 1px #ffbdbf solid;
  top: 48px;
  text-align: center;
  z-index: 999;
}
.register_main .rm_right .upwd {
  position: relative;
  z-index: 998;
}
.register_main .rm_right .upwd .reg_box2 {
  position: absolute;
  width: 296px;
  height: 20px;
  line-height: 20px;
  background: #ffebec;
  color: #e6393d;
  border: 1px #ffbdbf solid;
  top: 48px;
  text-align: center;
  z-index: 999;
}
.register_main .rm_right .qupwd {
  position: relative;
  z-index: 998;
}
.register_main .rm_right .qupwd .reg_box3 {
  position: absolute;
  width: 294px;
  height: 20px;
  line-height: 20px;
  background: #ffebec;
  color: #e6393d;
  border: 1px #ffbdbf solid;
  top: 48px;
  text-align: center;
  z-index: 999;
}
.register_main .rm_right .qd {
  width: 245px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  padding: 0px 30px;
}
.register_main .rm_right .qd span {
  float: left;
  width: 90px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-left: 45px;
}
.register_main .rm_right .qd .qd_img {
  float: left;
  width: 109px;
  height: 23px;
  line-height: 23px;
}
.register_main .rm_right .qd .qd_img .password_strong {
  background: url("../images/upwd.png") no-repeat;
  margin-top: 3px;
  height: 16px;
}
.register_main .rm_right .qd .qd_img .z_side {
  background: url("../images/upwd.png") no-repeat;
  margin-top: 3px;
  height: 16px;
  background-position-y: -33px;
}
.register_main .rm_right .qd .qd_img .q_side {
  background: url("../images/upwd.png") no-repeat;
  margin-top: 3px;
  height: 16px;
  background-position-y: -50px;
}
.register_main .rm_right .ts {
  font-size: 12px;
  color: #ccc;
  text-align: center;
  line-height: 20px;
  margin-left: 65px;
}
.register_main .rm_right .rm_right_yzm {
  position: relative;
  z-index: 998;
}
.register_main .rm_right .rm_right_yzm input {
  float: left;
  width: 98px;
  height: 26px;
}
.register_main .rm_right .rm_right_yzm .random_yzm {
  float: left;
  width: 70px;
  height: 23px;
  border: 1px #ccc solid;
  margin-left: 6px;
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
}
.register_main .rm_right .rm_right_yzm .btn {
  float: left;
  line-height: 38px;
  margin-left: 10px;
}
.register_main .rm_right .rm_right_yzm .reg_box4 {
  position: absolute;
  width: 294px;
  height: 20px;
  line-height: 20px;
  background: #ffebec;
  color: #e6393d;
  border: 1px #ffbdbf solid;
  top: 48px;
  text-align: center;
  z-index: 999;
}
.register_main .rm_right .read {
  text-align: center;
  font-size: 12px;
  font-family: "arial, helvetica, sans-serif";
  color: #666;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.register_main .rm_right .read input {
  float: left;
  margin-top: 4px;
  margin-right: 4px;
}
.register_main .rm_right .read a {
  color: #007bc7;
}
.register_main .rm_right .ty {
  display: flex;
  justify-content: center;
  width: 228px;
  height: 38px;
  padding: 1px 6px;
  margin: 30px auto;
  border: none;
  background: #1796dd;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
